html,body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #222;
    height: 100%;

    /* DODANO: omogoči, da footer stoji na dnu */
    display: flex;
    flex-direction: column;

}

/* Header */
.site-header {
    background: #000000;
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav {
  text-align: right;
  margin: 5px;
}

.site-nav a {
  margin: 0 16px;
  text-decoration: none;
  color: white;
}

.site-nav a:hover {
  text-decoration: underline;
}

/* Main content */

main {
    /* DODANO: raztegne vsebino, da footer potisne navzdol */
    flex: 1;
}

.projects {
    padding: 16px;
} 

section { 
    padding: 16px 0; 
    border-bottom: 1px solid #eee; 
}

/* Footer */
.site-footer {
    padding: 16px;
    background: #000000;
    color: white;
}

img { 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    margin-left: 16px;
}